header{
    padding: 1.25rem 2.5rem;
    background-color: var(--main-light-color);
    border: 2px solid black;
    border-radius: 0 0 20px 20px;
}
h1{
    text-align: center;
    font-size: 1.25rem;
    line-height: 23px;  
    font-weight: 400;
}
.header__heroCont{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header__heroCont img{
    height: 15rem;
    width: auto;
}
.header__heroCont p{

    text-align: center;
    width: 50%;
}
.header__h1--span, .header__p--span2{
    background: linear-gradient(to bottom, var(--lightYellow), var(--lightPurple));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.header__p--span{
    font-weight: bold;
}

